.github-card-container {
    margin: 54px auto;
    background: #f5f5f5;
    border-radius: 8px;
    height: auto;
    width: 50%;
    .github-foto-container {
        padding: 23px 0 27px 30px;
        margin-right: 44px;
        width: 20%;
        img {
            width: 200px;
            width: 200px;
            padding-bottom: 17px;
            border-radius: 10px;
        }
    }
}

.github-info-container {
    padding: 23px 0 27px 30px;
    width: 65%;
    margin: 0 auto;
}

.github-foto-container .github-info-container {
    padding: 23px 23px 84px 0;
    margin-left: 44px;
}

.flex-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.items-info {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px 14px 2px 14px;
    font-size: 14px;
}

.flex-info-details {
    height: auto;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 12px;
    padding: 8px 17px 17px 14px;
}

.flex-info-details h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #00afa2;
}

.info-member {
    width: 100%;
    margin-top: 4px;
}

.info-member-details {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
    margin-bottom: 5px;
    color: #737373;
    font-weight: 400;
}

.info-member-details span {
    font-weight: 700;
}