.search-container {
    background: #e5e7e9;
    border-radius: 16px;
    height: auto;
    margin: 54px auto;
    width: 50%;
    .form-search {
        padding-top: 36px;
        margin-left: 94px;
        margin-right: 94px;
        padding-bottom: 25px;
        label {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 38px;
            line-height: 46px;
            color: #262626;
            margin-bottom: 12px;
        }
        input {
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            width: 90%;
            height: 40px;
            background: #ffffff;
            border: 1px solid #d9d9d9;
            box-sizing: border-box;
            border-radius: 4px;
            margin-bottom: 20px;
            padding: 8px 27px 8px 17px;
             ::placeholder {
                color: #bfbfbf;
            }
        }
        .input-erro-container {
            margin-bottom: 10px;
        }
        .input-erro {
            border-color: #c53030 !important;
        }
        .input-erro-text {
            color: #c53030;
            font-family: Roboto;
            font-weight: bold;
        }
    }
}